# TRAFICOM OPEN DATA 12th of February,2023

The original open data, rows 5 163 487

Date ending 31.12.2022

Published 24th February 2023

https://tieto.traficom.fi/fi/tietotraficom/avoin-data?toggle=Ajoneuvojen%20avoin%20data

Data below contains only electricity engine powered vehicles M1 and M1G

35 494 rows, 8 columns

### Importing libraries

In [61]:
import pandas as pd

### Importing data

In [62]:

df = pd.read_csv('electricitycars2023.csv')


df.shape

(252200, 30)

### Eyeballing data

data starts 1st of January 2021 and ends 31st of December 2022

In [63]:
df.tail()

,ajoneuvoluokka,ensirekisterointipvm,kayttoonottopvm,vari,kayttovoima,iskutilavuus,sahkohybridi,sahkohybridinluokka,merkkiSelvakielinen,mallimerkinta,...,kayttovoima_Diesel/Electricity,kayttovoima_Electricity,kayttovoima_Gas,kayttovoima_Hydrogen,kayttovoima_Petrol,kayttovoima_Petrol/CNG,kayttovoima_Petrol/Electricity,kayttovoima_Petrol/Ethanol,kayttovoima_Petrol/LPG,kayttovoima_Petrol/Methanol
252195,M1,2022-12-31,20180522,8,1.0,1498.0,False,NaN,Ford,KUGA Monikäyttöajoneuvo (AF) 4ov 1498cm3,...,0,0,0,0,1,0,0,0,0,0
252196,M1,2022-12-31,20190309,6,1.0,999.0,False,NaN,Ford,Focus Farmari (AC) 4ov 999cm3,...,0,0,0,0,1,0,0,0,0,0
252197,M1,2022-12-31,20221231,0,4.0,NaN,False,NaN,Tesla,Model S Viistoperä (AB) 5ov,...,0,1,0,0,0,0,0,0,0,0
252198,M1,2022-12-31,20221231,0,4.0,NaN,False,NaN,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,...,0,1,0,0,0,0,0,0,0,0
252199,M1,2022-12-31,20221231,9,4.0,NaN,False,NaN,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,...,0,1,0,0,0,0,0,0,0,0

### Checking column names

In [64]:
df.columns

Index(['ajoneuvoluokka', 'ensirekisterointipvm', 'kayttoonottopvm', 'vari',
       'kayttovoima', 'iskutilavuus', 'sahkohybridi', 'sahkohybridinluokka',
       'merkkiSelvakielinen', 'mallimerkinta', 'vaihteisto', 'kaupallinenNimi',
       'kunta', 'NEDC_Co2', 'NEDC2_Co2', 'WLTP_Co2', 'WLTP2_Co2',
       'kayttovoimat', 'kayttovoima_CNG', 'kayttovoima_Diesel fuel',
       'kayttovoima_Diesel/Electricity', 'kayttovoima_Electricity',
       'kayttovoima_Gas', 'kayttovoima_Hydrogen', 'kayttovoima_Petrol',
       'kayttovoima_Petrol/CNG', 'kayttovoima_Petrol/Electricity',
       'kayttovoima_Petrol/Ethanol', 'kayttovoima_Petrol/LPG',
       'kayttovoima_Petrol/Methanol'],
      dtype='object')

### New dataframe

In [65]:

writer = pd.ExcelWriter('tunnusluvut.xlsx', engine = 'xlsxwriter')


columns = ['ajoneuvoluokka', 'kayttovoima', 'merkkiSelvakielinen', 'mallimerkinta', 'kaupallinenNimi',
        'kunta', 'kayttovoima_Electricity']
df1 = pd.DataFrame(df, columns = columns)


writer.save()

In [66]:
df1

,ajoneuvoluokka,kayttovoima,merkkiSelvakielinen,mallimerkinta,kaupallinenNimi,kunta,kayttovoima_Electricity
0,M1,1.0,Seat,CUPRA LEON SPORTSTOURER Farmari (AC) 5ov 1395c...,CUPRA LEON SPORTSTOURER,858.0,0
1,M1,1.0,Seat,LEON SPORTSTOURER Farmari (AC) 5ov 1395cm3 A,LEON SPORTSTOURER,257.0,0
2,M1,1.0,Toyota,TOYOTA COROLLA Farmari (AC) 4ov 1987cm3,TOYOTA COROLLA,285.0,0
3,M1,1.0,Hyundai,i 30 Farmari (AC) 5ov 1482cm3 A,i 30,837.0,0
4,M1,1.0,Skoda,OCTAVIA RS Sedan (AA) 5ov 1395cm3 A,OCTAVIA RS,837.0,0
...,...,...,...,...,...,...,...
252195,M1,1.0,Ford,KUGA Monikäyttöajoneuvo (AF) 4ov 1498cm3,KUGA,301.0,0
252196,M1,1.0,Ford,Focus Farmari (AC) 4ov 999cm3,Focus,145.0,0
252197,M1,4.0,Tesla,Model S Viistoperä (AB) 5ov,Model S,297.0,1
252198,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,638.0,1
252199,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,49.0,1

### Adding new column electricity car

In [67]:
df1['electricitycar'] = df['kayttovoima_Electricity'].replace({1 : 'Electricity', 0 : ''})
df1

,ajoneuvoluokka,kayttovoima,merkkiSelvakielinen,mallimerkinta,kaupallinenNimi,kunta,kayttovoima_Electricity,electricitycar
0,M1,1.0,Seat,CUPRA LEON SPORTSTOURER Farmari (AC) 5ov 1395c...,CUPRA LEON SPORTSTOURER,858.0,0,
1,M1,1.0,Seat,LEON SPORTSTOURER Farmari (AC) 5ov 1395cm3 A,LEON SPORTSTOURER,257.0,0,
2,M1,1.0,Toyota,TOYOTA COROLLA Farmari (AC) 4ov 1987cm3,TOYOTA COROLLA,285.0,0,
3,M1,1.0,Hyundai,i 30 Farmari (AC) 5ov 1482cm3 A,i 30,837.0,0,
4,M1,1.0,Skoda,OCTAVIA RS Sedan (AA) 5ov 1395cm3 A,OCTAVIA RS,837.0,0,
...,...,...,...,...,...,...,...,...
252195,M1,1.0,Ford,KUGA Monikäyttöajoneuvo (AF) 4ov 1498cm3,KUGA,301.0,0,
252196,M1,1.0,Ford,Focus Farmari (AC) 4ov 999cm3,Focus,145.0,0,
252197,M1,4.0,Tesla,Model S Viistoperä (AB) 5ov,Model S,297.0,1,Electricity
252198,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,638.0,1,Electricity
252199,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,49.0,1,Electricity

### Deleting rows where electricity car is missing

In [68]:

df1 = df1.dropna(subset=['kayttovoima_Electricity'])
df1

,ajoneuvoluokka,kayttovoima,merkkiSelvakielinen,mallimerkinta,kaupallinenNimi,kunta,kayttovoima_Electricity,electricitycar
0,M1,1.0,Seat,CUPRA LEON SPORTSTOURER Farmari (AC) 5ov 1395c...,CUPRA LEON SPORTSTOURER,858.0,0,
1,M1,1.0,Seat,LEON SPORTSTOURER Farmari (AC) 5ov 1395cm3 A,LEON SPORTSTOURER,257.0,0,
2,M1,1.0,Toyota,TOYOTA COROLLA Farmari (AC) 4ov 1987cm3,TOYOTA COROLLA,285.0,0,
3,M1,1.0,Hyundai,i 30 Farmari (AC) 5ov 1482cm3 A,i 30,837.0,0,
4,M1,1.0,Skoda,OCTAVIA RS Sedan (AA) 5ov 1395cm3 A,OCTAVIA RS,837.0,0,
...,...,...,...,...,...,...,...,...
252195,M1,1.0,Ford,KUGA Monikäyttöajoneuvo (AF) 4ov 1498cm3,KUGA,301.0,0,
252196,M1,1.0,Ford,Focus Farmari (AC) 4ov 999cm3,Focus,145.0,0,
252197,M1,4.0,Tesla,Model S Viistoperä (AB) 5ov,Model S,297.0,1,Electricity
252198,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,638.0,1,Electricity
252199,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,49.0,1,Electricity

In [69]:
df1.shape

(252200, 8)

In [70]:

df1 = df1.loc[df1["kayttovoima_Electricity"] != 0]

In [71]:
df1.shape

(35494, 8)

In [72]:
df1

,ajoneuvoluokka,kayttovoima,merkkiSelvakielinen,mallimerkinta,kaupallinenNimi,kunta,kayttovoima_Electricity,electricitycar
9,M1,4.0,Volvo,XC40 Farmari (AC) 5ov,XC40,301.0,1,Electricity
32,M1,4.0,Mercedes-Benz,EQC 400 4MATIC Farmari (AC) 5ov,EQC 400 4MATIC,743.0,1,Electricity
54,M1,4.0,Volvo,XC40 Farmari (AC) 5ov,XC40,853.0,1,Electricity
59,M1,4.0,Tesla,Model 3 Sedan (AA) 4ov,Model 3,322.0,1,Electricity
72,M1,4.0,Audi,e-tron Sportback 55 Viistoperä (AB) 4ov,e-tron Sportback 55,51.0,1,Electricity
...,...,...,...,...,...,...,...,...
252193,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,783.0,1,Electricity
252194,M1,4.0,Tesla,Model X Monikäyttöajoneuvo (AF) 5ov,Model X,765.0,1,Electricity
252197,M1,4.0,Tesla,Model S Viistoperä (AB) 5ov,Model S,297.0,1,Electricity
252198,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,638.0,1,Electricity
252199,M1,4.0,Tesla,Model Y Monikäyttöajoneuvo (AF) 5ov,Model Y,49.0,1,Electricity

### The most popular electricity car models in 2021 and 2022 in Finland

In [73]:
df_suositut = pd.crosstab(df1['mallimerkinta'], 'Total').nlargest(n = 20, columns = 'Total' )
df_suositut

col_0                                          Total
mallimerkinta
Model 3 Sedan (AA) 4ov                          4784
Model Y Monikäyttöajoneuvo (AF) 5ov             2053
ID.4 PRO 150 KW Farmari (AC) 5ov A              1733
Nissan Leaf 40kWh Monikäyttöajoneuvo (AF) 4ov   1606
Polestar 2 Sedan (AA) 5ov                       1339
XC40 Farmari (AC) 5ov                           1255
Kona Monikäyttöajoneuvo (AF) 5ov                1067
ENYAQ 80 Farmari (AC) 5ov A                      935
NIRO Farmari (AC) 5ov                            779
Model S Viistoperä (AB) 5ov                      761
Mustang Mach-E Viistoperä (AB) 4ov A             756
IONIQ5 Monikäyttöajoneuvo (AF) 5ov A             712
C40 Farmari (AC) 5ov                             626
EV6 Monikäyttöajoneuvo (AF) 5ov A                598
EQC 400 4MATIC Farmari (AC) 5ov                  583
ENYAQ 60 Farmari (AC) 5ov A                      580
ENYAQ 80X Farmari (AC) 5ov A                     534
IONIQ Viistoperä (AB) 5ov                        495
ID.3 PRO 150 KW Farmari (AC) 5ov                 491
UP! Viistoperä (AB) 5ov A                        439

### In which municipalities in Finland there are most electricity cars

#  TOP 5 municipalities
###  Helsinki
###  Espoo
###  Vantaa
###  Tampere
###  Oulu

In [74]:
df_kunnat = pd.crosstab(df1['kunta'], 'Total').nlargest(n = 20, columns = 'Total' )
df_kunnat

# TOP 5 municipalities
# 91 Helsinki
# 49 Espoo
# 92 Vantaa
# 837 Tampere
# 564 Oulu

# the list of municipalities can be found here https://tieto.traficom.fi/fi/tietotraficom/avoin-data?toggle=Ajoneuvojen%20avoin%20data

col_0  Total
kunta
91.0    5355
49.0    4096
92.0    2364
837.0   1501
564.0   1229
853.0   1130
179.0    675
297.0    672
398.0    655
638.0    599
257.0    578
543.0    527
858.0    457
743.0    440
444.0    430
734.0    417
109.0    396
405.0    373
609.0    371
186.0    351

### The most popular electricy car brands in 2021 and 2022 in Finland

In [75]:
df_merkit = pd.crosstab(df1['merkkiSelvakielinen'], 'Total').nlargest(n = 20, columns = 'Total' )
df_merkit

col_0                Total
merkkiSelvakielinen
Tesla                 7584
Volkswagen, VW        5088
Hyundai               2308
Skoda                 2125
Nissan                2091
Volvo                 1883
Mercedes-Benz         1798
Kia                   1646
Audi                  1553
Polestar              1363
BMW                   1337
Peugeot                856
Ford                   757
Renault                725
Opel                   588
Porsche                536
Tesla Motors           475
Seat                   402
BMW i                  339
Fiat                   273

### The most popular electricity car commercial brands in 2021 and 2022 in Finland

In [76]:
df_kaupallinennimi = pd.crosstab(df1['kaupallinenNimi'], 'Total').nlargest(n = 20, columns = 'Total' )
df_kaupallinennimi

col_0              Total
kaupallinenNimi
Model 3             4794
Model Y             2053
ID.4 PRO 150 KW     1736
Nissan Leaf 40kWh   1607
Polestar 2          1348
XC40                1255
Kona                1067
ENYAQ 80             938
NIRO                 898
Model S              803
Mustang Mach-E       756
IONIQ5               714
ID.3 PRO 150 KW      679
C40                  626
EV6                  598
EQC 400 4MATIC       586
ENYAQ 60             580
ENYAQ 80X            534
ZOE                  524
IONIQ                497